Configured Base URI in .env is getting truncated

We are using mimecast-humio-middlewate to ingest data in Humio. However, Base URI for Humio instance is more than FQDN (https://humiofqdn.com/somepath/morepath) and it is getting truncated and request is made to inappropriate url.

Reason: project uses GuzzleHttp\Client to build and make requests to Humio server. As GuzzleHttp\Client documentation mention to use [RFC 3986, section 5.2](https://tools.ietf.org/html/rfc3986#section-5.2). hence, requests are formed as follows:

base_uri | URI | Result
-- | -- | --
http://foo.com | /bar | http://foo.com/bar
http://foo.com/foo | /bar | http://foo.com/bar
http://foo.com/foo | bar | http://foo.com/bar
http://foo.com/foo/ | bar | http://foo.com/foo/bar
http://foo.com | http://baz.com | http://baz.com
http://foo.com/?bar | bar | http://foo.com/bar

As target uris paths are starting with "/" e.g. [For audit logs](https://github.com/djordje-adzemovic-devtech/mimecast-humio-middleware/blob/c9819b851f7f57979c3eae7ea99019be15667b35/src/Console/HumioCommand.php#L97), only FQDN is used to make requests and other path variable in base url are ignored. 